<div class="main-content">
    <div class="tab-content">
        <div class="tab-pane fade active show" id="proposalTab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between">
                                <div class="proposal-from">
                                    <h4 class="fw-bold mb-4">From:</h4>
                                    <div class="fs-13 text-muted lh-lg">
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Phone:</span>
                                            <span>(123) 456-7890</span>
                                        </div>
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Email:</span>
                                            <span>exmalple@email.com</span>
                                        </div>
                                        <address>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Address:</span>
                                            <span>P.O. Box 18728,</span><br>
                                            <span>Delorean New York,</span><br>
                                            <span>VAT No: 2617 348 2752</span><br>
                                        </address>
                                        <div class="d-flex gap-2">
                                            <a href="javascript:void(0);" class="avatar-text avatar-sm">
                                                <i class="feather-facebook"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="avatar-text avatar-sm">
                                                <i class="feather-twitter"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="avatar-text avatar-sm">
                                                <i class="feather-instagram"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="avatar-text avatar-sm">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="avatar-text avatar-sm">
                                                <i class="feather-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-md-none">
                                <div class="proposal-to">
                                    <h6 class="fw-bold mb-4">To:</h6>
                                    <div class="fs-13 lh-lg">
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Proposal:</span>
                                            <span class="fw-bold text-primary">#NXL369852</span>
                                        </div>
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Due Date:</span>
                                            <span class="text-muted">28 May, 2023</span>
                                        </div>
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Issued Date:</span>
                                            <span class="text-muted">25 May, 2023</span>
                                        </div>
                                    </div>
                                    <div class="fs-13 text-muted lh-lg mt-3">
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Phone:</span>
                                            <span>(123) 456-7890</span>
                                        </div>
                                        <div>
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Email:</span>
                                            <span>exmalple@email.com</span>
                                        </div>
                                        <address class="mb-0">
                                            <span class="fw-semibold text-dark border-bottom border-bottom-dashed">Address:</span>
                                            <span>9498 Harvard Street,</span><br>
                                            <span>Fairfield, Chicago Town 06824</span><br>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
